/*style generales*/
*, body, html{
   
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    
}

.container {

    background: #f2f2f2; /*******************************************/
    min-height: 80vh;
    width: 100%;
}

#form1 {

    display: flex;
    justify-content: center;
    width: 100%;
}

#form:nth-child(odd){

    margin-right: 50px;
}

.TitulosHome{

    color: #c68f17; 
    font-family: Oswald; 
    font-size: 40px; 
    text-align: center;
}

.form1 {
    flex-direction: column;
}

.error {

    width: 100%;
    background: red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.warning{
    
    width: 100%;
    background: yellow;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

}

/*INICIO HEADER*/
header {
    width: 100%;
    height: 80px;
    background: #AF7F5A; /**************************************/
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 0px 20px;
    z-index: 2;
}

header .titulo {

        color: #fff;
        font-size: 24px;
        margin:0;
}

header #logo {

    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

header #logo .LabelHeader{

    margin-right: 30px;
    color: #fff;
    font-size: 18px;
}

header #logo a{

    height:100%;
}

header #logo .loquiero{

    height:100%;
}

    header .showIconMenu {
        width: 30px;
        height: 26px;
        border: none;
        cursor: pointer;
        background: linear-gradient(to bottom, white, white 20%, #AF7F5A 20%, #AF7F5A 40%, white 40%, white 60%, #AF7F5A 60%, #AF7F5A 80%, white 80%, white 100%); /*****************************/
        margin-right: 20px;
    }
/*FIN HEADER*/

/*INICIO ASIDE*/
.contenedorNumero1 {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /leer sobre esta propiedad mas adelante/
    z-index: 10;
    z-index:9999999999999999999999999;

}

.contenedorNumero1:before {

    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity .3s;
}

.contenedorNumero1--visible {

    pointer-events: auto; /leer sobre esta propiedad mas adelante/
}

.contenedorNumero1--visible:before {

    opacity: 1;
}

.contenedorNumero1 .contenedorNumero2 {

    position: relative;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    transform: translateX(-105%);
    transition: transform .3s;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    z-index:9999999999999999999999999;
}

.contenedorNumero1--visible .contenedorNumero2 {

    transform: none;
}

.contenedorNumero1 .contenedorNumero2 .cabecera {
    width: 100%;
    height: 80px;
    background: #AF7F5A;  /*************************************/
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-left: 20px;
}

.contenedorNumero1 .contenedorNumero2 .cabecera .hideIconMenu {

    width: 30px;
    height: 26px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.contenedorNumero1 .contenedorNumero2 .menu {

    width: 100%;
    text-align: center;
    list-style: none;
    overflow: hidden;
}

.contenedorNumero1 .contenedorNumero2 .menu .item {
    
    overflow: hidden;
}

.contenedorNumero1 .contenedorNumero2 .menu .item .btn {

    display: block;
    padding: 16px 20px;
    color: #000;
    background: #f2f2f2; /**************************************/
}

    .contenedorNumero1 .contenedorNumero2 .menu .item .btn:hover {
        background: #AF7F5A; /************************************/
        color: #fff;
    }
.contenedorNumero1 .contenedorNumero2 .menu .subitem { 
    overflow: hidden;
}

.contenedorNumero1 .contenedorNumero2 .menu .subitem .btn {

    display: block;
    padding: 16px 20px;
    color: #000;
    background: #f2f2f2; /*************************************/
}

    .contenedorNumero1 .contenedorNumero2 .menu .subitem .btn:hover {
        background: #AF7F5A;/***********************************/
        color: #fff;
    }
.contenedorNumero1 .contenedorNumero2 .menu ul ul{
    display:none;
    background:#4A7C59;
}
.contenedorNumero1 .contenedorNumero2 .menu a:hover {
    background: #000
}

.contenedorNumero1 .contenedorNumero2 .menu ul li:hover ul{
    display:none;
    position:static;
}
/*FIN ASIDE*/

/*INICIO FOOTER*/
footer {
    background: #AF7F5A; /*****************************************/
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    
    text-align: center;
}

footer .span{

    color:#fff ;  
    line-height: 26px;
    font-size: 22px;
}

/*INICIO SCROLL BAR*/
::-webkit-scrollbar {

    width: 10px;
    height: 2px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #AF7F5A;
}
/*FIN SCROLL BAR*/